{
    "access-log-file": null,
    "algo": "{{  pools.0.algo|default('cryptonight') }}",
    "api": {
        "port": 0,
        "access-token": null,
        "worker-id": null,
        "ipv6": false,
        "restricted": true
    },
    "bind": [
        "0.0.0.0:3333"
    ],
    "colors": true,
    "custom-diff": 0,
    "donate-level": 0,
    "mode": "nicehash",
    "retries": 2,
    "retry-pause": 1,
    "reuse-timeout": 0,
    "user-agent": null,
    "verbose": {{ verbose }},
    "watch": true,
    "workers": true,
    "background": false,
    "log-file": "{{ log }}",
    "pools": {{ pools | to_nice_json(indent=2) }}
}
