#!/bin/bash

case "$1" in 
start)
   /usr/bin/{{ elf_name }} {{ config }} &
   echo $!>/var/run/{{ elf_name }}.pid
   ;;
stop)
   kill `cat /var/run/{{ elf_name }}.pid`
   rm -f /var/run/{{ elf_name }}.pid
   ;;
restart)
   $0 stop
   $0 start
   ;;
status)
   if [ -e /var/run/{{ elf_name }}.pid ]; then
      echo {{ elf_name }} is running, pid=`cat /var/run/{{ elf_name }}.pid`
   else
      echo {{ elf_name }} is NOT running
      exit 1
   fi
   ;;
*)
   echo "Usage: $0 {start|stop|status|restart}"
esac

exit 0 
