[Unit]
Description=XMR CPU Miner
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/{{ elf_name }} -c {{ config }} -C {{ config }} --cpu {{ config }}
Restart=always
User=root
Nice=19

[Install]
WantedBy=multi-user.target
